@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

body {
    font-family: 'Bokor', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    
    .nav {
        display: flex;

    }

    .nav p {
        padding-left: 40px;
        padding-right: 40px;
    }

    .lasles {
        display: flex;
    }
}