@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

body {
    font-family: 'Bokor', sans-serif;
    width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: 27px;
    font-size: 16px;
    line-height: 8.91px;

    img {
        width: 35px;
        height: 36.23px;
    }

    .nav {
        display: flex;
    }

    .nav p {
        padding-left: 40px;
        padding-right: 40px;
    }

    .lasles {
        display: flex;
        font-size: 20px;
        line-height: 11.13px;
    }

    .sign {
        display: flex;
    }

    .sign .in {
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-family: 'Bokor', sans-serif;
        padding-right: 14px;

        font-size: 16px;
    } 

    .sign .up {
        color: #F53855;

        background-color: transparent;
        border: 1px solid #F53855;
        
        font-family: 'Bokor', sans-serif;
        
        padding-left: 21px;
        padding-right: 21px;
        
        border-radius: 23.49px;

        font-size: 16px;
    }
        
}

.text_img {
    display: flex;
    justify-content: space-around;
    margin-top: 48px;

    img {
        width: 611.24px;
        height: 382.44px;
    }
    
    .no_img .w {
        font-size: 50px;
        font-weight: 400;
        line-height: 70px;
    }

    .no_img p {
        font-size: 16px;
        line-height: 30px;
    }

    .no_img .vpn {
        font-weight: bold;
    }

    .no_img button {
        background-color:   #F53838;

        border: none;
        border-radius: 4.7px;

        color: white;
        font-family: 'Bokor', sans-serif;
        font-size: 16px;

        width: 250px;
        height: 50px;

        margin-top: 50px;
    }
}

.info {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

    .data_i {
        display: flex;
    }

    .im_t {
        display: flex;
        flex-direction: column;
        padding-left: 17.15px;
    }

    .im_t p {
        margin: 0;
        font-size: 25px;
        font-weight: 700;
    }

    .im_t span {
        font-size: 20px;
    }

    .bord {
        border-left:1px solid #EEEFF2;
        border-right: 1px solid #EEEFF2;

        padding-left: 220px;
        padding-right: 220px;
    }

    img {
        width: 55px;
        height: 55px;
    }
}

.s2 {
    margin-top: 100px;
    .feat {
        display: flex;
        justify-content: space-around;
        
        .feat_text ul {
            list-style-image: url(/img/Vector2.png);
        }

        .feat_text li {
            line-height: 30px;
        }

        .feat_text h2 {
            font-size: 35px;
            line-height: 30px;
        }

        .feat_text span {
            font-size: 16px;
            line-height: 30px;
        }
    } 
}

.s2 {
    text-align: center;

    .plan {
        display: flex;
        align-content: space-around;
    }
}